*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 55%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header, footer{
    background-color: #1F2937;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

li{
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 0;
}

ul{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
}

img{
    margin-left: 50px;
}

main{
    flex: 1;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.header-content{
    margin-left: 60px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 60px;
}

.header-image-container{
    flex-direction: row;
    margin-right: 60px;
}